<?xml version="1.0"?>
<model>
  <name>Traffic Light</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>uav</name>
    <email>alex@localhost</email>
  </author>
  <description>Светофор (5 м) — высокое препятствие и цель для YOLO (traffic light)</description>
</model>
