<?xml version="1.0"?>
<model>
  <name>H Marker</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>uav</name>
    <email>alex@localhost</email>
  </author>
  <description>Плоский H-маркер (белая подложка + чёрная «H») для отработки точной посадки</description>
</model>
